@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                @*<img class="LogoImage" src="~/LogoNama.png" />*@
                <h3>Core Template Project</h3>
                <small>Standart Template Core</small>
            </div>
            <div class="hpanel">
                <div class="panel-body" data-plus-as-tab="true">

                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="control-label" for="password">Password Lama</label>
                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="oldpassword" id="oldpassword" class="form-control">
                        @*<span class="help-block small">Yur strong password</span>*@
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for="password">Password Baru</label>
                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="newpassword" id="newpassword" class="form-control">
                        @*<span class="help-block small">Yur strong password</span>*@
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label" for="password">Konfirmasi Password Baru</label>
                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="konpassword" id="konpassword" class="form-control">
                        @*<span class="help-block small">Yur strong password</span>*@
                    </div>
                    <br />
                    <button id="bSimpan" type="button" class="ladda-button ldSimpan btn btn-primary btn-block" data-style="zoom-in">Simpan</button>
                    <button id="bBatal" type="button" class="ladda-button ldBatal btn btn-danger2 btn-block" data-style="zoom-in">Batal</button>
                    @*<a class="btn btn-default btn-block" href="#">Register</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>Core Template Project</strong> 2018 Copyright <strong>chANo'x</strong>
        </div>
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_StylesPartial");}
    <link href="~/dotsfonts/dotsfonts.css" rel="stylesheet" />

    <style>
        .LogoImage {
            /*position: relative;
        top: 10px;*/
            width: 135px;
            height: 25px;
        }
    </style>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ScriptsPartial");}

    <script type="text/javascript">

        // Tab to Enter
        JoelPurra.PlusAsTab.setOptions({
            // Use enter instead of plus
            // Number 13 found through demo at
            // http://api.jquery.com/event.which/
            key: 13
        });

        // LOCK
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });

        // AUTOCOMPLETE OFF
        $(document).on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });

        $(document).ready(function () {
            $('#oldpassword').focus();
        });

        $('#bSimpan').click(function () {
            GantiPassword($('#oldpassword').val(), $('#newpassword').val(), $('#konpassword').val());
        });

        $('#bBatal').click(function () {
            window.location.href = '/Dashboard/Index';
        });

        function GantiPassword(OLD_PASS, NEW_PASS, KON_PASS) {
            var l = $('.ldSimpan').ladda();

            l.ladda('start');
            $.get('/User/KeyGenerator', null, function (result) {

                var xData = {}
                xData.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
                xData.OldPassword = RSAEncrypt(OLD_PASS, result);
                xData.NewPassword = RSAEncrypt(NEW_PASS, result);
                xData.KonfirmasiPassword = RSAEncrypt(KON_PASS, result);

                $.post('/User/ValidasiPassword', xData, function (result) {
                    if (result === '9') {
                        swal('Kesalahan', 'Maaf, password gagal di ubah...', 'error')
                            .then(() => { $('#oldpassword').focus(); });
                        l.ladda('stop');
                        return;
                    }
                    else if (result === '8') {
                        swal('Kesalahan', 'Maaf, konirmasi password tidak sesuai dengan password baru...', 'error')
                            .then(() => { $('#oldpassword').focus(); });
                        l.ladda('stop');
                        return;
                    }
                    else if (result === '7') {
                        swal('Kesalahan', 'Maaf, password lama tidak sesuai...', 'error')
                            .then(() => { $('#oldpassword').focus(); });
                        l.ladda('stop');
                        return;
                    }
                    else if (result === '6') {
                        swal('Kesalahan', 'Maaf, password lama tidak boleh sama dengan password baru...', 'error')
                            .then(() => { $('#oldpassword').focus(); });
                        l.ladda('stop');
                        return;
                    }
                    else if (result === '5') {
                        swal('Kesalahan', 'Maaf, password harus berisi huruf, angka & simbol [contoh: test123%$#*]...', 'error')
                            .then(() => { $('#oldpassword').focus(); });
                        l.ladda('stop');
                        Status = 2;
                        return;
                    }
                    else if (result === '4') {
                        swal('Kesalahan', 'Maaf, password kurang dari 6 karakter...', 'error')
                            .then(() => { $('#oldpassword').focus(); });
                        l.ladda('stop');
                        Status = 2;
                        return;
                    }
                    else if (result === '0') {
                        swal('Informasi', 'Password berhasil di ubah, harap login ulang...', 'info')
                            .then(() => { window.location.href = '/User/Login'; });
                        l.ladda('stop');
                        return;
                    }
                });
            });
        };
    </script>

}