@model CPM_Project.Models.CPM.resInfoNasabah

<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-body">
                @* <h5>No. CIF / No. Nasabah</h5> *@
                @* <p>Nomor ID atau nomor khusus nasabah.</p> *@
                @* <div class="form-group"> *@
                @*     <div class="input-group col-md-6"> *@
                @*         <input asp-for="NO_NAS" type="text" class="form-control" readonly="true"> *@
                @*     </div> *@
                @* </div> *@

                <h5>Nama Nasabah</h5>
                <p>Nama lengkap nasabah.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input asp-for="NM_NAS" type="text" class="form-control" readonly="true">
                    </div>
                </div>

                <h5>Alamat</h5>
                <p>Alamat lengkap nasabah sesuai KTP.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input asp-for="ALMT_NAS" type="text" class="form-control" readonly="true">
                    </div>
                </div>

                <h5>Tanggal Lahir</h5>
                <p>Tanggal lahir sesuai dengan KTP.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input asp-for="TGL_LAHIR" type="text" class="form-control" readonly="true">
                    </div>
                </div>

                <h5>No. HP</h5>
                <p>Nomor handphone saat ini atau sesuai data core.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input asp-for="NO_HP" type="text" class="form-control" readonly="true">
                    </div>
                </div>

                <h5>No. Telepon</h5>
                <p>Nomor telepon saat ini atau sesuai data core.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input asp-for="NO_TLP_NAS" type="text" class="form-control" readonly="true">
                    </div>
                </div>

                <h5>Tipe Nasabah</h5>
                <p>Jenis nasabah apakah perorangan atau perusahaan.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input asp-for="NM_TIPE_NAS" type="text" class="form-control" readonly="true">
                    </div>
                </div>
            </div>
        </div>

        <div class="hpanel">
            <div class="panel-heading hbuilt">
                @* <h3 class="m-b-xs">FILTER</h3> *@
                <i class="fa fa-quote-right"></i> Rincian DPK & Pinjaman
            </div>
            <div class="panel-body">
                <table id="dListSaldo" class="table table-bordered table-striped" style="clear: both">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-body">
                @* <hr/> *@
                <h5>Nama RM</h5>
                <p>Nama dari RM atau penangung jawab nasabah.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <h5>Nama Cabang Pengelolaan</h5>
                <p>Nama cabang yang akan melakukan maintenace nasabah priority.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <h5>Tier AUM</h5>
                <p>Tier 1, Tier 2, Tier 3.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control">
                    </div>
                </div>
                
                <h5>No. SID</h5>
                <p>Single Investor Identification.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <h5>Kelompok Nasabah</h5>
                <p>Kelompok Khusus & Umum.</p>
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="hpanel">
            <div class="panel-heading hbuilt">
                @* <h3 class="m-b-xs">FILTER</h3> *@
                <i class="fa fa-quote-right"></i> Investasi SBN
            </div>
            <div class="panel-body">
                <table id="dListSaldo" class="table table-bordered table-striped" style="clear: both">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>