<footer class="footer">
    <span class="pull-right">
        &copy; 2024-@DateTime.Now.Year <a><strong class="text-success">Bank Sulselbar</strong> <small>v0.1</small></a>
        .chn.
    </span>
    @*&copy; 2018-@DateTime.Now.Year <a><strong class="text-success">Bank Sulselbar</strong> <small>v0.1</small></a>*@
</footer>
